/* Example css file */

/* body {
	background-color: white!important;
} */

.bar-item {
	min-width: 20%;
	max-width: 100%;
}

.bar-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  gap: 3rem;
  margin-top: 2rem;
}

:root {
  --color-primary: #212121;
  --color-primary-dark: #000000;
  --color-primary-light: #484848;

  --color-secondary: #e9ecef;
  --color-secondary-dark: #ced4da;
  --color-secondary-light: #f8f9fa;

  --color-accent: #009E73;
  --color-accent-dark: #009E73;
  --color-accent-light: #009E73;
}

.dark * {
  --color-primary: #dee2e6;
  --color-primary-dark: #adb5bd;
  --color-primary-light: #e9ecef;
  
  --color-secondary: #161616;
  --color-secondary-dark: #000000;
  --color-secondary-light: #303030;
  
  --color-accent: #009E73;
  --color-accent-dark: #009E73;
  --color-accent-light: #009E73;
}