{{ $height := (.Get "height") }}
{{ $unit := (.Get "unit") }}
{{ $items := (.Get "items") }}
{{ $subfolder := (.Get "data")}}

{{ $staticPath := printf "static/%s" $subfolder }} <!-- Create the path to the subfolder -->

{{ $files := readDir $staticPath }} <!-- Read the contents of the subfolder -->

<div id="carousel{{ .Ordinal }}" class="carousel mb-12 mt-12" duration="{{ .Get " duration" }}">
  <ul>
    {{- range $index, $slide := $files }}
    <li id="c{{ $.Ordinal }}_slide{{ add $index 1}}"
      style="min-width: calc(100%/{{ $items }}); padding-bottom: {{ $height }}{{ $unit }};">
      <img src="/{{ $subfolder }}/{{ .Name }}"
        alt="" />
      
    </li>
    {{ end }}
  </ul>
  <ol>
    {{- range $index, $page := $files }}
    <li><a href="#c{{ $.Ordinal }}_slide{{ add $index 1 }}"></a></li>
    {{- end }}
  </ol>


  <div class="prev">&lsaquo;</div>
  <div class="next">&rsaquo;</div>
</div>